<nav class="navbar navbar-expand-lg navbar-light" style="background-color:yellow">
    <div class="container-fluid">
        <a class="navbar-brand d-flex justify-content-center" routerLink="#">
            <img src="11.jpg" alt="" width="35" height="40" class="d-inline-block align-text-top">
            Master Garage
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item mx-3">
                    <a class="nav-link my-0 py-0" aria-current="page" href="#"><strong>About Us</strong></a><small
                        class="my-0 py-0">Company profile</small>
                </li>
                <li class="nav-item item mx-3">
                    <a class="nav-link my-0 py-0" href="#"><strong>For Drivers</strong></a><small class="my-0 py-0">Book a
                        garage</small>
                </li>
                <li class="nav-item item mx-3">
                    <a class="nav-link my-0 py-0" href="#"><strong>For Garages</strong></a><small class="my-0 py-0">Join Us</small>
                </li>
                <li class="nav-item item mx-3">
                    <a class="nav-link my-0 py-0"><strong>MG World</strong></a><small class="my-0 py-0">Accessories & More</small>
                </li>
                <li class="nav-item item mx-3">
                    <a class="nav-link my-0 py-0"><strong>FAQs</strong></a><small class="my-0 py-0">Help & Support</small>
                </li>
                <li class="nav-item item mx-3">
                    <a class="nav-link my-0 py-0" href="#"><strong>Contact Us</strong></a><small class="my-0 py-0">Here to
                        Help</small>
                </li>
            </ul>
        </div>
        <div>
            <img class="profileImage" src="../../assets/image/profile.jpg" alt="profileImage">
            <span>User</span>
        </div>
    </div>
</nav>