.vl {
    border-left: 6px solid black;
    height: 200px;
}

.content {
    margin-bottom: 3%;
    padding: 0%;
}

h6 {
    margin: 0%;
    padding: 0%;
}

.para {
    margin: 0%;
    padding: 0%;
}

.listItem {
    margin-top: 2.5%;
}
small {
    display: block;
}

.card {
    border-radius: 10px;

}

.trackStatus {
    margin-left: 2%;
}

.contentFont {
    font-weight: 500;
}
.mobile{
    background-color: yellow;
    color:black;
    border: none;
    font-weight: bolder;
}
.paybutton{
    background-color: white;
    border: none;
    border-radius:10px;
}
